@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

h2 {
    width: 100%;
    font-size: 48px;
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 56px;
}

/*Landing CSS*/
.navigationBarContainer {
    width: 100%;
    min-height: 70px;
    background: white;
}

.navbarContent li a h6 {
    font-size: 16px;
    font-weight: 700 !important;
    font-variant-caps: all-petite-caps !important;
}

.nameNavbar {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    background: white;
}

.heroContainer {
    width: 100%;
    position: relative;
    color: white;
    background-size: cover;
    background: url("../../src/assets/images/herobg2.jpg") center no-repeat;
    animation-name: animasiBg;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

.heroContainer h1 {
    font-size: 76px;
    letter-spacing: -1px;
    font-weight: 300;
    position: absolute;
    font-variant-caps: all-petite-caps;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.heroContainer p {
    letter-spacing: -1px;
    font-weight: 600;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, 0);
}

.heroContainer span {
    position: absolute;
    bottom: 3%;
    width: 100%;
    font-weight: 300;
    text-align: center;
}

.introContainer {
    margin-top: 60px;
    background: white;
    margin-bottom: 120px;
}

.imageIntro {
    max-width: 100%;
    max-height: 100%;
}

.textLanding {
    width: 100%;
    text-align: justify;
}

.featuresLanding {
    margin-bottom: 120px;
}

.cardFeatures {
    width: 100%;
    position: relative;
    padding: 16px;
    min-height: 200px;
    border-radius: 2px;
    margin-bottom: 18px;
    box-shadow: 0px 3px 7px rgba(158, 158, 158, 0.7);
}

.cardFeatures img {
    display: block;
    margin: 0 auto;
}

.cardFeatures h4 {
    margin-top: 36px;
    text-align: center;
    font-weight: 400;
    font-variant-caps: all-petite-caps;
    margin-bottom: 36px;
}

.cardFeatures p {
    text-align: justify;
    font-weight: 300;
}

.carouselLandingContainer {
    margin-bottom: 120px;
}

.carouselContent {
    position: relative;
}

.carouselHover {
    opacity: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    transition: 0.4s;
}

.carouselHover:hover {
    opacity: 1;
    cursor: grab;
    min-width: 100%;
    min-height: 100%;
    background: rgba(251, 197, 49, 0.4);
    position: absolute;
    transition: 0.4s;
}

.carouselHover h5 {
    height: 100%;
    text-align: center;
    width: 100%;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
}

.carouselHover p {
    height: 100%;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    width: 100%;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

.landingLastContainer {
    min-height: 500px;
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/lastLanding.jpg");
    background-size: cover;
    background-position: top;
    margin-bottom: 36px;
    text-align: center;
}

.landingLastContainer button {
    min-width: 40%;
    margin-top: 24px;
    border: 2px solid #fbc531;
    border-radius: 5px !important;
    color: #fbc531;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
}

.landingLastContainer button:hover {
    margin-top: 24px;
    border: 2px solid #fbc531 !important;
    background: #fbc531;
    border-radius: 5px !important;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    transition: 0.4s;
}

.landingLastContainer p {
    text-align: center;
}

.active a {
    color: #fbc531 !important;
}

.footerContainer {
    padding-top: 32px;
    margin-top: 32px;
    padding-bottom: 16px;
    text-align: center;
    color: #bababa;
    font-variant-caps: all-petite-caps;
    font-weight: 300;
}

.mainFooter h4 {
    text-align: left;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
}

.mainFooter h4 span {
    font-weight: 300;
    font-size: 16px;
    color: #5a6268;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
}

.secondFooter {
    text-align: right;
    color: #6c757d;
    font-weight: 400;
    font-size: 14px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
}

/*Login Psge*/
.textLogReg {
    margin-top: 52px;
    text-align: right;
}

.loginContainer {
}

.loginContent {
    margin-top: 140px;
}

.loginContent h2 {
    margin-bottom: 12px;
    text-align: left !important;
}

.loginContent p {
    font-weight: 300;
    margin-bottom: 52px;
}

.form-group label {
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
}

/*Sidebar*/
.sidebar {
    position: fixed;
    margin-left: 0;
    height: 100%;
    background: #262F3D;
    width: 250px;
}

/*Container Main*/
.containerMain {
    margin-left: 272px;
    padding-top: 32px;
}

.cardPlans {
    width: 100%;
    margin-bottom: 32px;
    height: 250px;
    position: relative;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 3px 7px rgba(158, 158, 158, 0.4);
}

.cardPlans:hover {
    cursor: pointer;
}

.cardPlans p {
    width: 100%;
    color: #fbc531;
    font-weight: 700;
    position: absolute;
    bottom: 10%;
    text-align: center;
}

.cardPlans svg {
    fill: #fbc531;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}

.textPlans {
    height: auto;
    position: absolute;
    top: 35%;
    padding: 6px 32px 18px 32px;
    background: white;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, 0);
}

.textPlans h4 {
    margin: 0 !important;
    color: rgb(79, 79, 79);
    width: 100%;
    font-size: 48px;
    font-weight: 300;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 56px;
}

.plansBg {
    height: 50%;
    border-radius: 8px 8px 0px 0px;
    background-size: cover;
    background-position: top;
    background: url("../images/herobg.jpg");
}

.modal-dialog {
    max-width: 1070px;
}

.modalContainer {
    min-width: 100%;
    min-height: 700px;
    border-radius: 20px;
}

/*Modal Add*/
.bgAddPlan {
    width: 100%;
    padding: 32px;
    height: 300px;
    border-radius: 20px 20px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url("../images/herobg2.jpg");
    position: relative;
}

.contentAddPlan {
    width: 80%;
    min-height: 100px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

.contentAddPlan h1 {
    font-variant-caps: all-petite-caps;
    font-size: 6vh;
    letter-spacing: 3px;
    font-weight: 300;
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

/*Keyframaes*/
@keyframes animasiBg {
    0% {
        background-size: 130%;
    }
    50% {
        background-size: 100%;
    }
    100% {
        background-size: 130%;
    }
}

@media screen  and (max-width: 480px) {
    .heroContainer p {
        font-size: 16px;
        letter-spacing: -1px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .heroContainer {
        width: 100%;
        position: relative;
        color: white;
        background-size: cover;
        background: url("../../src/assets/images/herobg2.jpg") center no-repeat;
        animation-name: none;
        animation-duration: 0s;
        animation-iteration-count: infinite;
    }

    .landingLastContainer p {
        color: white;
        text-align: center;
    }

    .loginContent {
        margin-top: 32px;
    }

    .containerMain {
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 16px;
    }

    .sidebar {
        position: fixed;
        display: none;
        margin-left: -250px;
        height: 100%;
        background: #262F3D;
        width: 250px;
    }
}
